<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
    <title>Fetch and Execute</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/index.html">
                <img src="/imgs/logo.png" alt="legal-commute" height="30">
                </a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/index.html">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Cases <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/view/create_case.html">Create new case</a></li>
                <li><a href="/view/fetch_execute.html">Fetch images and Execute</a></li>
                <li><a href="#">Update status</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container" >
        <h2>Captured vehicles</h2>
        <!-- table -->
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

            <table class="table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">File name</th>
                  <th scope="col">Time Captured</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>
                    <div id="current_date">
                        <script>document.getElementById("current_date").innerHTML = Date();</script>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Mark</td>
                  <td>Otto</td>
               
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                 
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                 
                </tr>
              </tbody>
            </table>
          </div>
          <!-- // -->
          <form method="post" action="#">
            <label ><b>Area :&nbsp; &nbsp;&nbsp; &nbsp;</b></label>
            <select class="combobox">
                <option value="1">D1</option>
                <option value="2">D2</option>
                <option value="3">D3</option> 
                <option value="4">D4</option>
                <option value="5">D5</option>
                <option value="6">D6</option> 
                <option value="7">D7</option>
                <option value="8">D8</option>
                <option value="9">D9</option>
                <option value="10">D10</option>
                <option value="11">D11</option>
                <option value="12">D12</option> 
              </select>
    
                  
              <button type="submit">Execute</button>
          </form>
        </div>
    
</body>
</html>